@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  color: #0C3E4F;
  /* background-color: #F9FCFE; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Cairo';
  font-weight: 700;
}
